# Server Settings
PORT=8000
ENVIRONMENT=development

# Database Configuration (SQLite default database file create ho jayegi)
DATABASE_URL=sqlite:///./sql_app.db

# Google Groq API Key
# Apni real key yahan enter karein
GROQ_API_KEY=gsk_YOUR_GROQ_API_KEY_HERE
GROQ_MODEL_NAME=groq/compound
# Default User Configuration
DEFAULT_USER_ID=default_user_1